node_modules
.env
.DS_Store
dist
logs
*.log
.DS_Store
coverage
.idea
.vscode
*.tsbuildinfo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
*.local
*.swp
*.swo
*.bak
*.tmp
